    .wrap {
      overflow: hidden;
      margin: 10px;
    }
    .gallery-box {
      float: left;
      position: relative;
      width: 20%;
      padding-bottom: 20%;
border-radius: 3px;
background: #FFF none repeat scroll 0% 0%;
border-top: 3px solid #D2D6DE;
margin-bottom: 20px;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
padding-right:2px;
padding-left:2px;
    }
    .boxInner {
      position: absolute;
      left: 10px;
      right: 10px;
      top: 10px;
      bottom: 10px;
      overflow: hidden;
    }
    .boxInner img {
      width: 100%;
    }
    .boxInner .titleBox {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin-bottom: -50px;
      background: #000;
      background: rgba(0, 0, 0, 0.5);
      color: #FFF;
      padding: 10px;
      text-align: center;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
    }
    div.no-touch .boxInner:hover .titleBox, div.touch .boxInner.touchFocus .titleBox {
      margin-bottom: 0;
    }
    @media only screen and (max-width : 480px) {
      /* Smartphone view: 1 tile */
      .gallery-box {
        width: 100%;
        padding-bottom: 100%;
      }
      .text-box-filter{width:125px}
      .table-fill{font-size: 20%;}
      .btn{ font-size: 10px; padding: 5px}
     
      .media-priority-1{
        font-size: 60%;
      }       
     .media-priority-3{
         display:none;
      }
      .media-priority-2{
         display:none;
      }
    }
    @media only screen and (max-width : 650px) and (min-width : 481px) {
      /* Tablet view: 2 tiles */
      .gallery-box {
        width: 50%;
        padding-bottom: 50%;
      }
      .text-box-filter{width:200px}
      .table-fill{font-size: 20%;}      
     
      .btn{ font-size: 10px; padding: 5px}
      .media-priority-1{
        font-size: 70%;
      }  
      .media-priority-2{
         font-size: 70%;
      } 
      .media-priority-3{
         display:none;
      }     
    }
    @media only screen and (max-width : 1050px) and (min-width : 651px) {
      /* Small desktop / ipad view: 3 tiles */
      .gallery-box {
        width: 33.3%;
        padding-bottom: 33.3%;
      }
      .text-box-filter{width:300px}
      .btn{ font-size: 10px; padding: 5px}
      
      .media-priority-1{
        font-size: 80%;
      }  
      .media-priority-2{
         font-size: 80%;
      } 
      .media-priority-3{
         display:none;
      }     
    }
    @media only screen and (max-width : 1290px) and (min-width : 1051px) {
      /* Medium desktop: 4 tiles */
      .gallery-box {
        width: 25%; 
        padding-bottom: 25%;
      }  
      .btn{ font-size: 11px; padding: 7px}
      #relates_to{width:180px}
      .suggest li{width:200px}
      .suggest ul{width:200px}
      .media-priority-1{
        font-size: 90%;
      }  
      .media-priority-2{
         font-size: 90%;
      } 
      .media-priority-3{
          font-size: 90%;
      }     
       .text-box-filter{width:400px}
    }

     @media only screen and (max-width : 2460px)  and (min-width : 1291px){
        .text-box-filter{width:400px}
     }
    .website-text{
        color:#808080; padding:2px 3px 14px 3px;text-align:center;font-weight:bold;
    }


    /*=========== OWL Slider CSS ============*/

    #owl-demo .item{
      background: #3fbf79;
      padding: 4px 0px;
      margin: 10px;
      color: #FFF;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      text-align: center;
      height:116px;
    }

    #owl-demo img{
height:85px;
padding:10px;
    }


    .customNavigation{
      text-align: center;
    }
    .customNavigation a{
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }


    #owl-single .item img{
        display: block;
        width: 100%;
        height: 300px;
    }


    .border-radius-5{
        border-radius:5px!important;
    }


    .error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }


    .alert{
position: fixed;
top: 50px;
left: 25%;
width: 50%;
z-index: 999999;
opacity: 0.8;
border-radius: 0px;
    }




div.table-title {
   display: block;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  
}

.table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}


/*** Table Styles **/

.table-fill {
  background: white;
  /* border-radius:3px; */
  border-collapse: collapse;
 
  margin: auto;
  padding:20px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;

}
 
th {
  color:#D5DDE5;;
  background:#374850;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:14pt;
  font-weight: 100;
  padding:5px 12px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
 /* border-top-left-radius:3px; */
}
 
th:last-child {
  /*border-top-right-radius:3px;*/
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
  cursor: pointer
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  /*border-bottom-left-radius:3px;*/
}
 
tr:last-child td:last-child {
  /*border-bottom-right-radius:3px;*/
}
 
td {
  background:#FFFFFF;
  padding:5px 12px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

.fontSizePt{
  font-size: 12pt;
}

select{
  margin-top:4px;
  padding:4px;
  font-size: 12pt
}

.suggest ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 200px;
    background-color: #f1f1f1;
    /*border:solid 1px #cecece;*/
    position: absolute;
}

.suggest li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.suggest  li a:hover {
    background-color: #555;
    color: white;
}

.query-main{
  color:#666666;
  font-size: 15pt;
}

.query-where{
  font-size:14pt; 
  color: #22262e;
  clear:left;
  float:left;
  padding:5px 0
}

.query-relates-to{
  width:100%;
  font-size:18pt;
  color: #FF26B6;
  font-weight: bold;
}

.query-tb{
  width:300px;
}

.query-box{
  padding:8px 0;
  float:left;
  width:100%;
}

md-pagination-wrapper{
  width:100%;
}
.selectedSuggestion{
    list-style-type: none;    
    color:black;
    font-size: 10pt;
    padding:0px;
  }

.selectedSuggestion li{
  background-color:#fff;
  border-bottom:solid 1px #000000;
  padding:14px;
 
}

.selectedSuggestion  span{
  color:#555299;
}

.add-key{
  color:#fff; float:right; margin-top:-10px
}

.add-rel-table td:nth-child(1) {
   display: none;
}
.add-rel-table th:nth-child(1) {
   display: none;
}

.paginationContainer{
  clear:left;
  float:left;
  width: 100%;
  margin:10px;
}

.pagination span{
  margin:10px 5px; float:left
}

.noShowPrev{float:left; width: 89px}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.loading {
    border-radius: 50%;
    margin: auto;
    width: 20px;
    height: 20px;
    border: .25rem solid deeppink;
    border-top-color: #fff;
    animation: spin 1s infinite linear;
 
}

.text-box-filter{padding:4px;}

.btn-info2{
  background-color:#666B85
}


.panel{

  border:none; background-image:linear-gradient(#CECECE, #fff);
}

.panelHeading{
  border-radius:0px;
}