option_settings:
  - option_name: NODE_ENV
    value: production
  - option_name: AWS_ACCESS_KEY_ID
    value: [YOUR AWS ACCESS KEY ID]
  - option_name: AWS_SECRET_ACCESS_KEY
    value: [YOUR AWS SECRET ACCESS KEY]
  - option_name: BS_REMOTE
    value: [SET TRUE FOR DISTRIBUTED ARCHITECTURE]
  - option_name: reset_password_link
    value: [LINK TO RESET PASSWORD FORM]