<section class="content-header">
    <h1>
        Dashboard
    </h1>
    <ol class="breadcrumb">
        <li><a><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Home</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
  
        <!-- Info boxes -->
        <div class="row">
            <div class="col-md-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 ng-show="isEdit" class="box-title">Edit {{user.username}}'s Account</h3>    
                        <h3 ng-show="!isEdit" class="box-title">Create New Account</h3>                         
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-5">
                                 <div class="box-header">
                                    <b>Created Date: </b>{{createdDate}}
                                    <br />  <br />
                                    <md-checkbox aria-label="user.is_active" ng-click="isActive(user)" ng-checked="user.is_active">
                                        <b>Active</b>
                                    </md-checkbox>
                                 </div>                             
                                 <div class="form-group" ng-show="!isEdit">
                                    <label for="username" class="col-md-12 control-label">
                                    <span ng-show="!usernameValid" style="float:left; color:red; margin-top:3px">**&nbsp;</span>User Name</label>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" name="username" placeholder="User Name" data-ng-model="user.username" ng-keyup="validateName()">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="col-md-12 control-label">
                                    <span ng-show="!emailValid" style="float:left; color:red; margin-top:3px">**&nbsp;</span>Email</label>
                                    <div class="col-md-12">
                                        <input type="email" class="form-control" name="email" placeholder="Email Address" required ng-keyup="validate();" data-ng-model="user.email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="firstname" class="col-md-12 control-label margin-top-10">
                                   <span ng-show="!firstValid" style="float:left; color:red; margin-top:3px">**&nbsp; </span>First Name</label>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" name="firstname" placeholder="First Name" ng-keyup="validate();" data-ng-model="user.first">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="lastname" class="col-md-12 control-label margin-top-10">
                                    <span ng-show="!lastValid" style="float:left; color:red; margin-top:3px">**&nbsp; </span>Last Name</label>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" name="lastname" placeholder="Last Name" required ng-keyup="validate();" data-ng-model="user.last">
                                    </div>
                                </div>
                                <div class="form-group" ng-show="!isEdit" >
                                    <label for="password" class="col-md-12 control-label margin-top-10">
                                    <span ng-show="!passwordValid" style="float:left; color:red; margin-top:3px">**&nbsp; </span>Password</label>
                                    <div class="col-md-12">
                                        <input type="password" class="form-control"  placeholder="Password" required data-ng-model="user.password" ng-keyup="validate();">
                                    </div>
                                </div>

                                <div class="form-group" ng-show="!isEdit" >
                                    <label for="cpasswd" class="col-md-12 control-label margin-top-10">Confirm Password</label>
                                    <div class="col-md-12">
                                        <input type="password" class="form-control" placeholder="Confirm Password" required data-ng-model="user.confirm_password">
                                    </div>
                                </div>
                                <div class="form-group" ng-show="isEdit" >
                                    <label for="password" class="col-md-12 control-label margin-top-10">Reset Password - Leave this field blank to keep user's current password.</label>
                                    <div class="col-md-12">
                                        <input type="password" class="form-control" placeholder="Password" data-ng-model="user.password">
                                    </div>
                                </div>

                                <div class="form-group" ng-show="isEdit" >
                                    <label for="cpasswd" class="col-md-12 control-label margin-top-10">Confirm Reset Password - Leave this field blank to keep user's current password.</label>
                                    <div class="col-md-12">
                                        <input type="password" class="form-control" placeholder="Confirm Password" data-ng-model="user.confirm_password">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                            <div class="box-header">
                                <span style="color:#555299; font-size:16pt;">Roles & Permissions</span>                        
                            </div>                            
                            <div layout-wrap layout-gt-sm="row" >
                                <div ng-repeat="role in roles" flex-gt-sm="30">
                                    <md-checkbox aria-label="role.title" ng-click="toggle(role)" ng-checked="role.selected">
                                       {{ role.title }}
                                    </md-checkbox>
                                </div>                               
                            </div>   
                        </div>
                    </div>
                    <div class="col-xs-5 margin-top-20" style="margin-left:35%;">
                        <div class="col-xs-4 padding-left-none">
                            <button ng-disabled="!isValid" type="button" class="btn btn-block btn-success" ng-click="create();">
                                {{buttonText}}
                            </button>
                        </div>
                        <div class="col-xs-4 padding-right-none">
                            <button type="button" class="btn btn-block btn-warning" ng-click="cancel();">
                                Cancel</span>
                            </button>
                        </div>
                    </div>
                </div> 
            </div>       
        </div>      
   
</section>


