

<div class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <p style="padding:10px">Congratulations, your just a few steps away from creating a new model.
        </p>        

		<form id="form" class="form-horizontal" role="form">
		 
		 
          <div class="form-group">
		    <label for="name" class="col-sm-2 control-label">Object Type</label>
		    <div class="col-sm-10">
              <input type="text"  autocomplete="off" class="form-control" id="look_up_key" placeholder="Object Type" ng-model="obj_type" ng-keyup="validateName()">

		    </div>
		  </div>

           <div class="form-group">
		    <label for="name" class="col-sm-2 control-label">Description</label>
		    <div class="col-sm-10">
            <textarea style="width:100%; min-height:200px;" id="description" placeholder="Description" name="description" ng-model="description"></textarea>
		    </div>
		  </div>       

          
		</form>

      </div>
      <div class="modal-footer">
         
         <label style="width:100%; padding:10px; color:#C62626" ng-show="showMessage">{{message}}.</label>       
        <button type="button" ng-click="save()" class="btn btn-primary">Create Object</button>      
        <button type="button" ng-click="cancel()" class="btn" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
