

<div class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{rel.linking_table}}</h4>
      </div>
      <div class="modal-body">
        <p ng-show="!enabled && rel.is_active" style="padding:10px">Hey buddy, you are about to Deactivate a relationship. This is a very serious matter! If you aren't sure if you should do this
            or not, then you probably shouldn't. After you deactivate a relationship, any related data will no longer be returned. You can reactivate this relationship at any time. Proceed with caution...
        </p>
         <p ng-show="enabled" style="padding:10px">You are about to create a new relationship for the parent object: {{model.obj_type}}
        </p>
         <p ng-show="!rel.is_active && !enabled" style="padding:10px">If you active this relationship, any data that was there prior deactivation, will again be returned. 
        </p>
		<form id="form" class="form-horizontal" role="form">
		  <div  ng-show="enabled"  class="form-group">
		    <label for="name" class="col-sm-2 control-label">Relates To</label>
		    <div class="col-sm-10" style="z-index:900; position:relative">              
		        <input type="text"  autocomplete="off" class="form-control" id="relates_to" placeholder="Relates to" ng-model="rel.relates_to" ng-keyup="querySearch()" ng-focus="querySearch()">
                <div style="width:100%" class="suggest">
                    <ul class="suggest">
                        <li ng-repeat="r in results" data-ng-click="selectedItemChange(r)">
                            <a>{{r.obj_type}}</a>
                        </li>
                    </ul>
                </div>
		    </div>
		  </div>
		  <div ng-show="!enabled" class="form-group">
		    <label for="name" class="col-sm-2 control-label">Relates To</label>
		    <div class="col-sm-10">           
		      <input  disabled type="text" class="form-control" id="relates_to" placeholder="Rel Type" ng-model="rel.relates_to">
		    </div>
		  </div>

       
           <div class="form-group">
		    <label for="name" class="col-sm-2 control-label">Plural Name</label>
		    <div class="col-sm-10">
              <input disabled ng-show="enabled" type="text" class="form-control" id="plural_name" placeholder="Plural Name" ng-model="rel.plural_name">
		      <input disabled ng-show="!enabled" disabled type="text" class="form-control" id="plural_name" placeholder="Plural Name" ng-model="rel.plural_name">
		    </div>
		  </div>

           <div class="form-group">
		    <label for="name" class="col-sm-2 control-label">Linking table</label>
		    <div class="col-sm-10">               
		        <input disabled type="text" class="form-control" id="linking_table" placeholder="Linking table" ng-model="rel.linking_table">
		    </div>
		  </div>

       <div class="form-group">
		    <label for="name" class="col-sm-2 control-label">Relationship Type</label>
		    <div class="col-sm-10">
          <input disabled type="text" class="form-control" id="relationship_type" placeholder="Relationship Type" ng-model="rel.rel_type">
            <!--
		      	<select t ng-show="enabled" data-ng-options="r for r in rel_type_options" data-ng-model="rel.rel_type"></select>
            	<select disabled ng-show="!enabled"  data-ng-options="r for r in rel_type_options" data-ng-model="rel.rel_type"></select>
            -->
		    </div>
		  </div>          
		</form>

      </div>
      <div class="modal-footer">
         
        <button type="button" ng-show="!rel.is_active && !enabled" ng-click="activate()" class="btn btn-success">Activate</button>     
        <button type="button" ng-show="!showDelete && !enabled && rel.is_active" ng-click="showDeleteMessage()" class="btn btn-primary">Deactivate</button>    
        <label style="width:100%; padding:10px; color:#C62626" ng-show="showMessage">{{message}}</label>
        <button type="button" ng-show="showDelete" ng-click="deleteRelationship()" class="btn btn-primary" data-dismiss="modal">Confirm Deactivate</button>
        <button type="button" ng-show="enabled" ng-click="saveRelationship()" class="btn btn-primary">Create Relationship</button>      
        <button type="button" ng-click="cancel()" class="btn" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
