

<div class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New Security Function</h4>
      </div>
      <div class="modal-body">
        <p style="padding:10px">Add security function for: role.title
        </p>         
		<form id="form" class="form-horizontal" role="form">
		  <div class="form-group">
		    <label for="name" class="col-sm-2 control-label">Relates To</label>
		    <div class="col-sm-10" style="z-index:900; position:relative">              
		        <input  autocomplete="off" ng-model="searchString" type="text" class="form-control" id="securitySuggest" placeholder="Search Areas, Controllers and Methods" ng-keyup="querySearch()">
                <div style="width:100%" class="suggest">
                    <ul style="width:500px">
                        <li ng-repeat="result in filteredResults" data-ng-click="setSelectedItem(result)">
                            <a>{{result.displayText}}</a>
                        </li>
                    </ul>
                </div>               
		    </div>
		</div>	
        <div ng-show="selectedResult != null" class="form-group">
             <div class="col-sm-10">		 
                 <b>Selected Endpoint: </b> {{selectedResult.displayText}}</label>    
             </div>               
        </div>	
        <div ng-show="selectedResult.is_method" class="form-group">
             <div class="col-sm-10">
                 **The type of endpoint security you selected is a method. You can further restrict security by selecting a verb from the list below.		 
             </div>
         </div>
          <div class="form-group" ng-show="selectedResult.is_method">
                <label for="name" class="col-sm-2 control-label">Http Verb</label>
                <div class="col-sm-10">		      
                   	<select data-ng-options="v for v in verbs" data-ng-model="selectedResult.verb"></select>
                </div>
		  </div> 
		</form>

      </div>
      <div class="modal-footer">
        <button type="button" ng-show="isEdit" ng-click="showDeleteMessage()" class="btn btn-primary">Remove Endpoint</button>    
        <label style="width:100%; padding:10px; color:#C62626; text-align:left" ng-show="message.length > 0" ng-bind-html="message"></label>
        <button type="button" ng-show="isEdit" ng-click="remove()" class="btn btn-primary" data-dismiss="modal">Confirm Remove</button>
        <button type="button" ng-show="!isEdit && !confirmClobberPending" ng-click="save()" class="btn btn-primary">Add Endpoint</button> 
        <button type="button" ng-show="!isEdit && confirmClobberPending" ng-click="confirmClobberAndSave()" class="btn btn-primary">Confirm Clobber and Add Endpoint</button>           
        <button type="button" ng-click="cancel()" class="btn" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
