

<div class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New Security Role  {{role.title}}</h4>
      </div>
      <div class="modal-body">
        <p ng-show="!isUpdate" style="padding:10px">Well Done Sir, you are about to create a new security role. You will need to add security features 
            to the role before it will be saved. Complete the form below and click "Add Security Features.
        </p>        
        <p ng-show="isUpdate" style="padding:10px">Welcome back! Click the "Manage Security Features" button to add/remove features for this security role. 
        </p>        

		<form id="form" class="form-horizontal" role="form">
          <div class="form-group">
		    <label for="name" class="col-sm-2 control-label">Title</label>
		    <div class="col-sm-10">
              <input  autocomplete="off" ng-disabled="isUpdate" type="text" class="form-control" id="name" placeholder="Title" ng-model="role.title" ng-keyup="validateName()">
		    </div>
		  </div>
         <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input  autocomplete="off" ng-disabled="true" type="text" class="form-control" id="title" placeholder="Name" ng-model="role.name">
                </div>
		    </div>
        <div class="form-group">
		    <label for="name" class="col-sm-2 control-label">Description</label>
		    <div class="col-sm-10">
            <textarea style="width:100%; min-height:100px;" id="description" placeholder="Description" name="description" ng-model="role.description"></textarea>
		    </div>
		  </div>       

          
		</form>

      </div>
      <div class="modal-footer">
         
         <label style="width:100%; padding:10px; color:#C62626" ng-show="showMessage()">{{message}}.</label>       
        <button type="button" ng-click="save()" class="btn btn-primary">{{buttonText}}</button>      
        <button type="button" ng-click="cancel()" class="btn" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
