

<div class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{object_type}}</h4>
      </div>
      <div class="modal-body">
      	<form class="form-horizontal" role="form"> 
           <div ng-repeat="d in data" class="form-group">
		    <label for="name" class="col-sm-2 control-label">{{d[0]}}:</label>
		    <div class="col-sm-10" style="margin-top:10px">
                {{d[1]}}
		    </div>
		  </div>          
		
      	</form>
      </div>
      <div class="modal-footer">              
        <button type="button" ng-click="close()" class="btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
